.shopping-cart {
  margin-top: 180px;

  &__basket {
    display: flex;
    flex-direction: column;

    table {
      border-spacing: 0 11px;

      thead {
        text-align: left;
        font-size: 18px;
      }

      tbody {
        border-radius: 8px;
      }
    }
  }

  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.775);
    border-radius: 8px;
    height: 110px;
    font-size: 18px;
  }

  @media (max-width: 1200px) {
    &__basket {
      align-items: center;

      table {
        width: 90%;
      }
    }

    &__empty {
      margin-top: 100px;
    }
  }

  @media (max-width: 580px) {
    margin-top: 90px;
  }

  @media (max-width: 425px) {
    width: 90%;
    margin: 0 auto;

    &__basket {
      table {
        width: 100%;
      }
    }
  }
}
