.product-card {
  display: flex;
  border: 1px solid rgba(128, 128, 128, 0.496);
  border-radius: 8px;
  width: 330px;
  height: 400px;
  padding: 20px 15px 30px 15px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;

  &__image {
    margin-top: 15px;
    height: 200px;
    width: fit-content;
  }

  &__desc {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 15px;

    h2 {
      font-size: 18px;
      font-weight: 400;
    }

    p {
      font-size: 18px;
      font-weight: 700;
    }

    &-button {
      margin-top: 7px;
      width: 100%;
    }
  }

  @media (max-width: 1200px) {
    // width: 220px;
    padding: 20px 7px 30px 7px;
    height: 325px;

    &__image {
      margin-top: 15px;
      height: 100px;
      width: fit-content;
      margin-bottom: 18px;
    }

    &__desc {
      h2 {
        font-size: 17px;
      }

      p {
        font-size: 15px;
      }

      &-button {
        font-size: 15px;
      }
    }
  }

  @media (max-width: 1024px) {
    width: 250px;
  }

  @media (max-width: 770px) {
    width: 219px;
  }

  @media (max-width: 425px) {
    width: 175px;
    padding: 20px 7px 20px 7px;

    &__image {
      margin-top: 15px;
      height: 100px;
      width: fit-content;
      margin-bottom: 18px;
    }

    &__desc {
      &-button {
        height: 40px;
      }
    }
  }

  @media (max-width: 375px) {
    width: 75%;
  }
}

.swal-button {
  display: none;
}

.swal-modal {
  border-radius: 8px;
}

.swal-title {
  color: black;
  font-size: 18px;
  font-weight: 400;
}

.selected {
  transition: 0.4s;
  background-color: #3d0876bc;
}
