.item-basket {
  height: 100px;
  max-height: 100px;
  background: #fbfbfb;
  border-radius: 8px;

  &__decs {
    display: flex;
    height: 100px;
    align-items: center;
    column-gap: 20px;
    border-right: 1px solid rgba(128 128 128 / 17%);

    img {
      width: 65px;
      padding: 15px;
      border-radius: 8px;
    }

    p {
      width: 250px;
    }
  }

  &__price {
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    justify-content: center;

    div {
      display: flex;
      align-items: center;
      gap: 24px;

      p {
        text-align: center;
        font-size: 16px;
        font-weight: 700;
      }

      img {
        cursor: pointer;
      }
    }
  }

  @media (max-width: 580px) {
    height: 80px;

    &__decs {
      height: 80px;

      img {
      }

      p {
      }
    }

    &__price {
      height: 80px;
      div {
        gap: 11px;

        p {
          font-size: 15px;
        }

        img {
          cursor: pointer;
        }
      }
    }
  }

  @media (max-width: 425px) {
    &__decs {
      column-gap: 10px;

      img {
        width: 50px;
        padding: 10px;
      }

      p {
        margin-right: 5px;
        font-size: 12px;
        width: auto;
      }
    }

    &__price {
      width: 100px;
      div {
        p {
          font-size: 12px;
        }

        img {
          width: 14px;
          cursor: pointer;
        }
      }
    }
  }
}
