@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-style: normal;
  list-style-type: none;
  color: black;
}

.container {
  width: 1200px;
  position: relative;
  margin: 0 auto;
}

body {
  background-color: #f3f1f5;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
    overflow: hidden;
  }
}
